
MoviesInfo.xcworkspace/xcuserdata/rahulpatil.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MoviesInfo.xcworkspace/xcuserdata/rahulpatil.xcuserdatad/UserInterfaceState.xcuserstate
MoviesInfo.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MoviesInfo.xcworkspace/contents.xcworkspacedata
MoviesInfo.xcodeproj/project.xcworkspace/xcuserdata/rahulpatil.xcuserdatad/UserInterfaceState.xcuserstate
Podfile.lock
